<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>smartapp</display-name>  
  <servlet>
    <description></description>
    <display-name>SampleApp</display-name>
    <servlet-name>SampleApp</servlet-name>
    <servlet-class>SampleApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleApp</servlet-name>
    <url-pattern>/SampleApp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SampleApp</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
</web-app>
