<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : web.xml.xml
    Created on : January 29, 2011, 8:08 AM
    Author     : nate
    Description:
        Purpose of the document follows.
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
   xsi:schemaLocation='http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd' version="2.4">

    <description>test SMArt_client_java oauth dance, same as python test app, but in Java</description>
    <display-name>SMArt_client_java OAuth dance tester</display-name>

    <servlet>
        <servlet-name>smartapp</servlet-name>
        <servlet-class>org.smartplatforms.client.tests.Reminder</servlet-class>

        <init-param>
            <param-name>consumerKey</param-name>
            <param-value>my-app@apps.smartplatforms.org</param-value>
        </init-param>
        <init-param>
            <param-name>consumerSecret</param-name>
            <param-value>smartapp-secret</param-value>
        </init-param>
        <init-param>
            <param-name>serverBaseURL</param-name>
            <param-value>http://sandbox-api.smartplatforms.org</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>smartapp</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
